<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Create your gig</h2>
    </div>
    <div class="panel-body">
      <%= form_for @service do |f| %>
        <div class="form-group">
          <label>Gig Title</label>
          <%= f.text_area :title, placeholder: "Ex: I will do something I am really good at", rows: "2", class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
