<div class="hero">
  <div class="overlay">
    <div class="container">

      <div class="row">
        <div class="hero-heading">
          What do you need completed?
          <br>
          <p>Browse. Buy. Done.</p>
        </div><!-- hero-heading -->
      </div><!-- row -->

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form>
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="What are you looking for...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default">
                  Search
                </button>
              </span>
            </div><!-- input-group -->
          </form>
        </div><!-- col-md-6 -->
      </div><!-- row -->

    </div><!-- container -->
  </div><!-- overlay -->
</div><!-- hero -->
