@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #F7F7F7;
}

.btn, .btn:active, .btn-primary:active, .btn-default:active, .btn.active, .btn:focus, .btn:hover {
  background-color: #00b22d;
  background: -webkit-linear-gradient(#35c350, #03b525);
  background: -moz-linear-gradient(#35c350, #03b525);
  background: -o-linear-gradient(#35c350, #03b525);
  background: linear-gradient(#35c350, #03b525);
  -webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff !important;
  border: 1px solid #00b22d;
}

.btn-primary {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 35px;
  margin: 0;
  display: inline-block;
}

label {
  font-size: 17px;
  font-weight: 500;
  color: #333333;
  text-transform: uppercase;
}

select {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  padding: 10px;
  width: 100px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select-control {
  font-size: 16px;
  position: relative;
  display: block;
}

.select-control:before {
  content: '\25bc';
  font-size: 16px;
  top: 10px;
  left: 60px;
  position: absolute;
  color: #CCCCCC;
  transform: scale(0.84, 0.42);
  pointer-events: none;
}
